<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Man_hinh_main_sub.Properties.Settings.C21TH2_LTCSDLConnectionString"
            connectionString="Data Source=.;Initial Catalog=C21TH2_LTCSDL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>